@model FreshMart.Models.ViewModels.SellerViewModel

@{
    Layout = "~/Views/Shared/_SellerLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <h2 class="text-center" style="color: cornflowerblue"> Your Profile</h2>
                    <small class="text-center" style="color:green" id="responseMessage">
                    </small>
                </div>


                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            @*<form id="login-form" method="post" asp-controller="Sellers" asp-action="UpdateProfile" role="form" style="display: block;">*@
                            <form id="login-form" method="post" role="form" style="display: block;">

                                @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@

                                @Html.HiddenFor(c => c.Seller.Id)
                                @Html.HiddenFor(c => c.Seller.Approval)

                                <div class="form-group">
                                    <label asp-for="Seller.Name" class="control-label"></label>
                                    <input id="sellerName" asp-for="Seller.Name" class="form-control" />
                                    <span asp-validation-for="Seller.Name" class="text-danger"></span>
                                </div>

                                @Html.HiddenFor(c => c.Seller.Email)
                                <div class="form-group">
                                    <label asp-for="Seller.Email" class="control-label"></label>
                                    <input id="sellerEmail" asp-for="Seller.Email" class="form-control" disabled="disabled" value="@Model.Seller.Email" />
                                    <span asp-validation-for="Seller.Email" class="text-danger"></span>
                                </div>


                                <div class="form-group">
                                    <label asp-for="Seller.CompanyName" class="control-label"></label>
                                    <input id="sellerCompanyName" asp-for="Seller.CompanyName" class="form-control" />
                                    <span asp-validation-for="Seller.CompanyName" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Seller.Phone" class="control-label"></label>
                                    <input id="sellerPhone" asp-for="Seller.Phone" class="form-control" />
                                    <span asp-validation-for="Seller.Phone" class="text-danger"></span>
                                </div>


                                <div class="form-group">
                                    <label class="control-label">Date Of Birth</label>
                                    <input id="sellerDateOfBirth" asp-for="Seller.DateOfBirth" class="form-control" />
                                    <span asp-validation-for="Seller.DateOfBirth" class="text-danger"></span>
                                </div>


                                <div class="form-group">
                                    <label class="control-label">District</label>
                                    @*@Html.LabelFor(model => model.Seller.DistrictId, htmlAttributes: new { @class = "control-label " })*@
                                    <div class="col-md-12">

                                        <label for="cars">Select Districtssssss:</label>
                                        <select id="sellerDistrictId" class="form-control">
                                            @foreach (var item in Model.Districts)
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        </select>

                                        @*@Html.DropDownListFor(model => model.Seller.DistrictId, new SelectList(Model.Districts, "Id", "Name"), "Select District", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Seller.DistrictId, "", new { @class = "text-danger" })*@
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="login-submit" tabindex="4" class="form-control btn btn-default" value="Update">
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("form")
            .submit(function (event) {
                event.preventDefault();
                // fetch the form object
                $f = $(event.currentTarget);

                    //$("div.loader").show();
                    // fetch the action and method
                    var url ="Update/@Model.Seller.Id";
                    var method = $f.attr("method");

                    if (method.toUpperCase() === "POST") {

                        // prepare the FORM data to POST
                        var data = {
                            id: "@Model.Seller.Id",
                            name: $('#sellerName').val(),
                            email: $('#sellerEmail').val(),
                            phone: $('#sellerPhone').val(),
                            dateOfBirth: $('#sellerDateOfBirth').val(),
                            districtId: $('#sellerDistrictId').val(),
                            companyName: $('#sellerCompanyName').val()
                        };

                        // ajax POST
                        $.ajax({
                            url: url,
                            method: "POST",
                            data: JSON.stringify(data),
                            contentType: "application/json; charset=utf-8",
                            dataType:"json",
                            success: handleResponse,
                            error: handleError,
                            complete: function (jqXHR, status) {
                                console.log(jqXHR);
                            }
                        });
                    }

            });

        function handleResponse(res) {
            // is False or Not set
                showSuccessMessage();
        }

        function handleError(err) {
            $("div.loader").hide();
            if (xhr.responseText)
                showErrorMessage(xhr.responseText);
            else
                showErrorMessage("Error has occured. Please try again later.");
        }

        function showErrorMessage(message) {
            debugger;
            alert("Error occured");
        }

        function showSuccessMessage(message) {
             $('#responseMessage').text("Successfully saved").animate({
                opacity: 0.5,
                width: "900px",
                height: "20px",
                myRotationProperty: 45
            });
            //setTimeout(() => {
            //    popup.addClass('d-none');
            //}, 5000);
        }
    });
</script>
