@model FreshMart.ViewModels.SellerVM
@{
    ViewData["Title"] = "SellProduct";
    Layout = "~/Views/Shared/_SellerLayout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="text-center">
                            <h2>Add Product Now</h2>
                            <h3 class="text-green">@Model.Error</h3>
                            @if (TempData["uploaderr"] != null)
                            {
                                <h3 class="text-danger">@TempData["uploaderr"] </h3>
                            }


                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="login-form" method="post" enctype="multipart/form-data" asp-controller="Sellers" asp-action="SellProduct" role="form">

                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label class="control-label">Product Name (Required)</label>
                                    <input asp-for="Product.Title" class="form-control" />
                                    <span asp-validation-for="Product.Title" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Product.Price" class="control-label"></label>
                                    <input asp-for="Product.Price" class="form-control" />
                                    <span asp-validation-for="Product.Price" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Product.Description" class="control-label"></label>
                                    <input asp-for="Product.Description" class="form-control" />
                                    <span asp-validation-for="Product.Description" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Product.Unit" class="control-label"></label>
                                    <input asp-for="Product.Unit" class="form-control" />
                                    <span asp-validation-for="Product.Unit" class="text-danger"></span>
                                </div>

                                @Html.HiddenFor(c => c.Product.IsPublished)


                                <div class="form-group">
                                    <label asp-for="Product.ItemInStock" class="control-label"></label>
                                    <input asp-for="Product.ItemInStock" class="form-control" />
                                    <span asp-validation-for="Product.ItemInStock" class="text-danger"></span>
                                </div>


                                <div class="form-group">
                                    @Html.LabelFor(model => model.Product.DistrictId, htmlAttributes: new { @class = "control-label " })

                                    @Html.DropDownListFor(model => model.Product.DistrictId, new SelectList(Model.Districts, "Id", "Name"), "Select District", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Product.DistrictId, "", new { @class = "text-danger" })

                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Product.CategoryId, htmlAttributes: new { @class = "control-label " })

                                    @Html.DropDownListFor(model => model.Product.CategoryId, new SelectList(Model.Categories, "Id", "Name"), "Select Category", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Product.CategoryId, "", new { @class = "text-danger" })

                                </div>

                                <div class="form-group">
                                    <label asp-for="Product.ImagePath" class="control-label"></label>
                                    <input asp-for="Product.ImagePath" type="file" Class="form-control" name="file" />
                                    <span asp-validation-for="Product.ImagePath" class="text-danger"></span>
                                </div>

                                @Html.HiddenFor(c => c.Product.OfferPrice)
                                @Html.HiddenFor(c => c.Product.OfferExpireDate)

                                <div class="form-group">
                                    <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="btn btn-login" value="Publish Product">
                                </div>


                                <div>
                                    <a asp-action="Index">Back to Product Home</a>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>